<h1>Showing a Demo</h1>

 <p>
   name: <%= @demo.name %>
 </p>
 <p>
   description: <%= @demo.description %>
 </p>
<%= link_to "Edit this demo" ,edit_demo_path(@demo) %> |
<%= link_to "Back to demos listing" ,demos_path %>
